{% extends 'base.html.twig' %}

{% block title %}{{ movie.title }}{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
{% endblock %}

{% block body %}
    <div class="container">
        {% if movie.backdropPath %}
            <div class="movie-backdrop-container">
                <img src="https://image.tmdb.org/t/p/original{{ movie.backdropPath }}" alt="{{ movie.title }}" class="movie-backdrop">
                <div class="movie-backdrop-overlay"></div>
            </div>
        {% endif %}

        <div class="row mt-4">
            <div class="col-md-4">
                {% if movie.posterPath %}
                    <img src="https://image.tmdb.org/t/p/w500{{ movie.posterPath }}" alt="{{ movie.title }}" class="movie-poster shadow">
                {% else %}
                    <div class="movie-poster-placeholder bg-light d-flex align-items-center justify-content-center shadow">
                        <span>Pas d'affiche disponible</span>
                    </div>
                {% endif %}
            </div>
            <div class="col-md-8">
                <h1 class="mb-4">{{ movie.title }}</h1>

                <div class="movie-details">
                    {% if movie.releaseDate %}
                        <p class="mb-3">
                            <i class="fas fa-calendar-alt me-2"></i>
                            <strong>Date de sortie:</strong> {{ movie.releaseDate|date('d/m/Y') }}
                        </p>
                    {% endif %}

                    <p class="mb-3">
                        <i class="fas fa-star me-2"></i>
                        <strong>Note:</strong> 
                        <span class="rating">
                            {{ movie.voteAverage|number_format(1) }}/10
                        </span>
                        <span class="text-muted">({{ movie.voteCount }} votes)</span>
                    </p>
                    
                    {% if movie.genres %}
                        <div class="mb-4">
                            <i class="fas fa-film me-2"></i>
                            
                        </div>
                    {% endif %}

                    {% if movie.overview %}
                        <div class="mt-4">
                            <h4 class="mb-3">
                                <i class="fas fa-book me-2"></i>
                                Synopsis
                            </h4>
                            <p class="movie-overview">{{ movie.overview }}</p>
                        </div>
                    {% endif %}

    
                </div>
                <div class="mt-4">
                    <a href="{{ path('app_home') }}" class="btn btn-success">Retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
