{% extends 'base.html.twig' %}

{% block title %}Movie Recommendations
{% endblock %}

{% block body %}
    <div class="header">
        <h1 class="text-center p-5">Movie Recommender</h1>
    </div>
    <div class="hero">
        <h2 class="text-center">Discover Your Next Favorite Movie</h2>
    </div>
    <div class="container bg-dark">
        <div class="search-form">
            {{ form_start(form, {'attr': {'id': 'search-form'}}) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.query) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.year) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.genre) }}
                </div>
            </div>
            <div class="text-center mt-3">
                {{ form_row(form.submit, { 'attr': {'class': 'btn btn-success'} }) }}
            </div>
            {{ form_end(form) }}
        </div>

        <div id="results-container" class="row mt-4">
            {% for movie in movies %}
                <div class="col-md-4 mb-4">
                    <div class="card h-100 bg-light">
                        {% if movie.posterPath %}
                            <img src="https://image.tmdb.org/t/p/w500{{ movie.posterPath }}" class="card-img-top" alt="{{ movie.title }}">
                        {% else %}
                            <div class="card-img-top bg-secondary" style="height: 300px;"></div>
                        {% endif %}
                        <div class="card-body">
                            <h5 class="card-title">{{ movie.title }}</h5>
                            <p class="card-text">{{ movie.overview ? movie.overview|slice(0, 150) ~ '...' : '' }}</p>
                            <div class="d-flex justify-content-between align-items-center">
                                <span class="badge bg-primary">{{ movie.voteAverage }}/10</span>
                                <a href="{{ path('movie_details', {'id': movie.tmdbId}) }}" class="btn btn-sm btn-outline-primary">Voir plus</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
    <div class="footer bg-dark text-white text-center p-3">
        <p>&copy; 2025 Movie Recommender. All rights reserved.</p>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('js/api.js') }}"></script>
{% endblock %}
