{% extends 'base.html.twig' %}

{% block title %}Recommandations de Films{% endblock %}

{% block body %}
    <div class="container bg-dark">
        <h1 class="text-center my-4 text-light ">Recommandations de Films</h1>

        <div class="search-form">
            {{ form_start(form) }}
            <div class="row">
                <div class="col-md-6">
                    {{ form_row(form.query) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.year) }}
                </div>
                <div class="col-md-3">
                    {{ form_row(form.genre) }}
                </div>
            </div>
            <div class="text-center mt-3">
                {{ form_row(form.submit, { 'attr': {'class': 'btn btn-success'} }) }}
            </div>
            {{ form_end(form) }}
        </div>

        <div class="movie-grid">
            {% for movie in movies %}
                <div class="movie-card">
                    <a href="{{ path('movie_details', {'id': movie.id}) }}">
                        {% if movie.poster_path %}
                            <img src="https://image.tmdb.org/t/p/w500{{ movie.poster_path }}" alt="{{ movie.title }}" class="movie-poster">
                        {% else %}
                            <div class="movie-poster bg-light d-flex align-items-center justify-content-center">
                                <span>No image available</span>
                            </div>
                        {% endif %}
                        <div class="movie-info">
                            <div class="movie-title">{{ movie.title }}</div>
                            <div class="movie-year">{{ movie.release_date|date('Y') }}</div>
                            <div class="movie-rating">⭐ {{ movie.vote_average|number_format(1) }}/10</div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
